.home-container {  
  color:#000;
  justify-content: center;
  position: relative;
  text-align: center;
  align-items: center;
  margin-right:auto;
  margin-left:auto
  }

.home-container p {
  text-align: left;
}

.home-container img {
  border-radius: 10%;
  transition: .5s ease;
}

.home-container img:hover {
  opacity: 0.5;
}

.home-container img:hover + .text-over{
  display: block;
}

.txt-1{
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding-top: 5%;
  padding-bottom: 5%;
}

.txt-2{
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding-top: 5%;
  padding-bottom: 5%;
}

.text-over {
  display: none;
  font-size: 7rem;
  color: #da7532;
  top: 25%;
  left: 30%;
  justify-content: center;
  text-align:center;
  position: absolute;
  align-items: center;
}

.text-over-2 {
  margin: 0 auto;
  text-align: center;
  justify-content:center;
  align-items:center;
  top: 0px;
  left: 12%;
  font-size: 6rem;
  color: #fff;
  position: absolute;
}

.vid-1 {
  position: relative;
  justify-content:center;
  align-items:center;
  height: 250px;  
  background-color: #7b8c42;
  border-radius: 2%;
  overflow: hidden;
}

.vid-1 p {
  justify-content:center;
  align-items:center;
  text-align: center;
  font-size: 10rem;
  font-weight: bolder;
  font-style: italic;
  color: white;
  font-family: 'Pacifico' !important;
}


.vid-2 {
  position: relative;
  justify-content:center;
  align-items:center;
  height: 250px;
  background-color: #fbbe94;
  border-radius: 2%;
  overflow: hidden;
}

.vid-2 p {
  justify-content:center;
  align-items:center;
  text-align: center;
  font-size: 10rem;
  font-weight: bolder;
  font-style: italic;
  color: white;
  font-family: 'Pacifico' !important;
}

.foreword { 
  padding: 1em;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(100deg, #da7532 0%, rgb(255, 185, 105) 110%);
}

.pic-1 { 
  position: relative;
  max-width: 100%;
}

.pic-2 img{ 
  position: relative;
  width: 100%;
}


.projects { 
  width: 100%;
  font-size: 0.75em;
  display: table;
}
.project img {
  width: 90%;
}

.project-row {
  display:table-row;
}

.project {
  display: table-cell;
  width: 25%;
}

.project-title {
  color:#fbbe94;
  font-size: 2.5em;
  display: table-cell;
  width: 25%;
  height: 100px;
}

  
  @media screen and (max-width: 414px) {
    
    }
